<nav class="navbar navbar-expand-lg bg-body-tertiary px-3">
  <div class="container-fluid">
    <!-- LOGO DA EMPRESA -->
    <a class="navbar-brand" href="/home">
      <img
        src="https://pm1.aminoapps.com/6382/bf0d65afbe55d90533ebea21361ecd832e068f47_hq.jpg"
        alt="logo"
        width="60"
        height="60"
      />
      RONALDÃO 22
    </a>
    <!-- FIM DA LOGO -->

    <!-- BOTÃO PARA MAXIMIZAR O MENU -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- FIM DO BOTÃO -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- OPÇÃO DE PÁGINA PRINCIPAL -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <!-- FIM DE OPÇÃO PÁGINA PRINCIPAL -->

        <!-- OPÇÃO DE PÁGINA PARA USUÁRIO -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
           Usuários
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/usuarios">Ver usuários</a></li>
            <li><a class="dropdown-item" href="/usuarios/cadastrar">Criar usuários</a></li>
            <li><a class="dropdown-item" href="/produtos">Ver produtos</a></li>
            <li><a class="dropdown-item" href="/produtos/cadastrar">Criar produtos</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
         Produtos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/produtos">Ver produtos</a></li>
            <li><a class="dropdown-item" href="/produtos/cadastrar">Criar produtos</a></li>
          </ul>
        </li> 

        <!-- FIM DE OPÇÕES DE USUÁRIO -->
          </ul>
         <!-- AREA DO BOTÃO DE SAIR -->
         <p class="text-muted mx-2 mb-lg-0"></p>Usuário: Ronaldão</p>
         <button class="btn btn-danger">Sair</button>
         <!-- FIM DE AREA DO BOTÃO DE SAIR -->


    </div>
  </div>
</nav>
