
<!-- CABECALHO PRINCIPAL -->
<%- include('partials/header') %>
<main>
<!-- CONTEUDO DO INDEX -->
<h1>ESTÁ PÁGINA NÃO EXISTE</h1>
    <a href="/home">Clique aqui para ir para home</a>
    <img src="https://i0.wp.com/analistadecadastro.com.br/wp-content/uploads/2022/09/Erros-de-Cadastros-Como-acontecem.jpg?fit=600%2C361&ssl=1">
</main>
<%- include('partials/footer') %>
    
