<%- include('../partials/header') %>

<!-- CONTEUDO DO INDEX -->
<main class="container d-flex flex-column flex-fill justify-content-center">
      <h1 class="text-center">Cadastro de produto</h1>

     <!-- CRIANDO O FORMULARIO PARA ENVIO DAS INFORMAÇÕES -->
      <form action="/produtos/cadastrar" method="POST">
        <div class="mb-3">
         <!-- CAIXINHA DE NOME DE USUARIO -->
          <label for="inputNome" class="form-label fs-2 mt-2">
            Nome do produto
          </label>
          <input type="text" id="inputNome" class="form-control form-control-lg" 
          placeholder="Digite o nome do produto"
          name="nome"
          required
          >
         <!-- FIM DA CAIXINHA NOME DE USUARIO -->

         <!-- CAIXINHA DE EMAIL -->
              <label for="inputDescricao" class="form-label fs-2 mt-2">
         Descricao
          </label>
           <input type="text" 
           id="inputDescricao" 
           class="form-control form-control-lg" 
           placeholder="Digite a descricao do produto"
           name="descricao"
           required
          >
         <!-- FIM DE CAIXINHA DE EMAIL -->

         <!-- CAIXINHA DE SENHA -->
          <div class="row">
            <div class="col"> 
         <label class="form-label fs-2 mt-2">
       categoriaProduto</label>
         <select name="tipo" class="form-select form-select-lg mb-3">
          <option value="pote">pote</option>
          <option value="camisa">camisa</option>
          <option value="apartamento">apartamento</option>
         </select>

         <label for="inputPreco" class="form-label fs-2 mt-2">
         Preco
          </label>
           <input type="number" 
           id="inputPreco" 
           class="form-control form-control-lg" 
           placeholder="Digite o preco do produto"
           name="preco"
           required
          >
          <label for="inputQuantidade" class="form-label fs-2 mt-2">
        Quantidade
          </label>
           <input type="number" 
           id="inputQuantidade" 
           class="form-control form-control-lg" 
           placeholder="Digite a quantidade do produto"
           name="quantidade"
           required
          >
          </div>

          <div class="col">
            <label for="inputImagem" class="form-label fs-2 mt-2">
        imagem do produto
          </label>
           <input type="url" 
           id="inputImagem" 
           class="form-control form-control-lg" 
           placeholder="Digite o link da imagem do produto"
           name="imagemUrl"
           required 
           >
          <img class="d-flex mx-auto mt-3"
          style="width: 400px;" 
          src="https://encurtador.com.br/jYCfD" id="previewImagem"
          width="250px"
          height="250px"
          >
          </div>
          </div> 
          <button type="submit" class="btn btn-lg btn-primary">
            Cadastrar
          </button>
        </div>
    </form>

    <!-- CODIGO PARA IMAGEM SER ALTERADA DE ACORDO COM O QUE A PESSOA COLOCAR -->
    <script>
    //  VARIAVEL PRA ACESSAR A CAIXINHA DE INPUT DA IMAGEM
     const inputImagem = document.getElementById("inputImagem")
    // VARIAVEL PARA ACESSAR A IMAGEM
     const previewImagem = document.getElementById("previewImagem")

     const imagemPadrao = "https://encurtador.com.br/jYCfD"

    //  EVENTO É DISPARADO QUANDO O USUARIO COLOCA ALGO NA CAIXINHA
    inputImagem.addEventListener("input", () => {
      // GUARDA O QUE A PESSOA COLOCOU NA CAIXINHA NA VARIAVEL URL
      const url = inputImagem.value
       
      // TROCA O VALOR DE SRC DA IMAGEM, PELA QUE O USUARIO DIGITOU NA CAIXINHA 
      previewImagem.src = url || imagemPadrao
    })
    </script>
</main>

<!-- RODAPE DE TODAS AS PAGINAS -->
<%- include('../partials/footer') %>
